.filterable {
	margin-top: 15px
}
.filterable .panel-heading .pull-right {
	margin-top: -20px
}
.filterable .filters input[disabled] {
	background-color: #fff;

}
.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #333
}
.filterable .filters input[disabled]::-moz-placeholder {
	color: #333
}
.filterable .filters input[disabled]:-ms-input-placeholder {
	color: #333
}
